---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reethu Vinta's Portfolio">
	<div class="pb-12 mt-5">
		<div class="text-xl py-1">Hey there 👋</div>
			<div class="text-5xl font-bold">I'm Reethu Vinta</div>
			<div class="text-3xl py-3 font-bold">Software Engineer</div>
			<div class="py-2">
		  	<text class="text-lg">
				Currently I am working with Value Added Services(VAS) team at Amazon. I graduated recently from IIT Hyderabad with a major in Computer Science and Engineering Science along with a minor in Entrepreneurship. Love building tech products and solving complex problems. Always curious to learn new stuff!
			</text>
		</div>
		<a class="btn mt-9" target="_blank" href="https://drive.google.com/file/d/1qjGtu-hx3lLgSfGGRAJuvHJvrwG-iQUv/view?usp=sharing">
			View Resume</a>
	</div>
</Layout>