---
const today = new Date();
---

<div class="sticky top-[90vh]">
  <footer class="footer footer-center block">
    <div>
      &copy; {today.getFullYear()} Reethu Vinta
    </div>
  </footer>
</div>
